<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.java.emulator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:debuggable="false">
        <activity
            android:name="com.java.emulator.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.java.emulator.RunActivity"></activity>
        <activity android:name="com.java.emulator.CompileJavaActivity"></activity>
        <activity android:name="com.java.emulator.ArchiveJarActivity"></activity>
		<activity android:name="com.java.emulator.AboutActivity"></activity>
		<activity
		    android:name="com.ipaulpro.afilechooser.FileChooserActivity"
		    android:icon="@drawable/ic_launcher"></activity>
    </application>

</manifest>
